<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
    <title>Home</title>
  </head>
  <body>
        <div id="index">
          <h3 class="text-center text-white pt-5">Welcome User</h3>
          <div class="container">
              <div id="index-row" class="row justify-content-center align-items-center">
                  <div id="index-column" class="col-md-6">
                      <div id="index-box" class="col-md-12">
                          <form id="index-form">
                              <h3 class="text-center text-info">Welcome User</h3>
                              <div class="alert alert-info" role="alert">
                                <a href="/user/register">Register </a>
                              </div>
                              <div class="alert alert-info" role="alert">
                               <a href="/user/login">Login</a>
                              </div>

                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
  </html>